<div id="page-wrapper">
	<div class="container-fluid">
		<div class="headdings">
			<h3 class="ghj" align="center">Thông tin người đặt</h3>
			<div class="bs-example">
				<table class="table">
					<tbody>
						
						<tr>
							<td><h2 class="head" id="h2.-bootstrap-heading">Họ tên:<a class="anchorjs-link" href="#h2.-bootstrap-heading"></a></h2></td>

							<td><h2 class="head" id="h2.-bootstrap-heading">Nguyễn Văn <%= 
							@user.name %><a class="anchorjs-link" href="#h2.-bootstrap-heading"></h2></td>
							
						</tr>
						<tr>
							<td><h2 class="head" id="h2.-bootstrap-heading">Địa chỉ:<a class="anchorjs-link" href="#h2.-bootstrap-heading"></a></h2></td>

							<td><h2 class="head" id="h2.-bootstrap-heading">Quảng Nam<a class="anchorjs-link" href="#h2.-bootstrap-heading"></h2></td>
						</tr>
						
						
					</tbody>
				</table>
			</div>
		</div>	

        <h3 class="ghj" align="center">Thông tin phòng đặt</h3>
		<div class="appearance">
			<h3 class="ghj">B304</h3>
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="50%">Tên</th>
							<th width="50%">Địa chỉ</th>
							<th width="50%">Chứng minh nhân dân</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nguyễn Văn Lin</td>
							<td><span class="badge">TB-QN</span></td>
							<td><span class="badge">205671432</span></td>
						</tr>
						<tr>
							<td>Nguyễn Văn Lin</td>
							<td><span class="badge">TB-QN</span></td>
							<td><span class="badge">205671432</span></td>
						</tr>
						<tr>
							<td>Nguyễn Văn Lin</td>
							<td><span class="badge">TB-QN</span></td>
							<td><span class="badge">205671432</span></td>
						</tr>					
				   </tbody>
				</table>                    
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="appearance">
			<h3 class="ghj">B304</h3>
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="50%">Tên</th>
							<th width="50%">Địa chỉ</th>
							<th width="50%">Chứng minh nhân dân</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nguyễn Văn Lin</td>
							<td><span class="badge">TB-QN</span></td>
							<td><span class="badge">205671432</span></td>
						</tr>
						<tr>
							<td>Nguyễn Văn Lin</td>
							<td><span class="badge">TB-QN</span></td>
							<td><span class="badge">205671432</span></td>
						</tr>
						<tr>
							<td>Nguyễn Văn Lin</td>
							<td><span class="badge">TB-QN</span></td>
							<td><span class="badge">205671432</span></td>
						</tr>					
				   </tbody>
				</table>                    
			</div>
			<div class="clearfix"> </div>
		</div>
		
	</div>	
</div>