<div class="about">
		<div class="container">
			<div class="about-top heading">
				<h3>ABOUT US</h3>
			</div>
			<div class="about-bottom">
				<p> Khách sạn Mithrin Hạ Long là khách sạn 4 sao đạt tiêu chuẩn quốc tế, chính thức đi vào hoạt động năm 2004.

Với 88 phòng khách có nội thất sang trọng, đầy đủ đồ dùng, trang trí ấm cúng, tao nhã cùng với cửa sổ rộng nhìn ra vịnh Hạ Long xinh đẹp, khách sạn Mithrin Hạ Long sẽ làm cho quý khách thực sự cảm thấy thoải mái, thuận tiện và hài lòng bởi tính chuyên nghiệp, mến khách và thân thiện của toàn thể nhân viên khách sạn.

Với sự yên tĩnh, dịch vụ tốt và vị trí thuận tiện, chỉ cách bến tầu du lịch khoảng 10 phút đi bộ và 10 phút đi xe tới khu công nghiệp Cái Lân, khách sạn Mithrin Hạ Long dần trở thành một địa chỉ tin cậy cho cả khách du lịch và khách thương gia tại trung tâm đang phát triển nhanh về du lịch của thành phố Hạ Long..</p>
				<div class="about-btm">
					<div class="col-md-6 about-left">
						<img src="images/abt-1.jpg" alt="" />
					</div>
					<div class="col-md-6 about-right">
						<img src="images/abt-2.jpg" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>