<script type="text/javascript">
   $(function() {
	   $( "#datepicker,#datepicker1" ).datepicker();
	});
</script>

<div class="banner">
		<div class="container">
			<div class="banner-top">
				<h1>For Booking</h1>
				<div class="banner-bottom">
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Ckeck In</p>
						</div>
						<div class="bnr-right">
							<input class="date" id="datepicker1" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required=>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Ckeck Out</p>
						</div>
						<div class="bnr-right">
						    <%= text_field_tag :date,params[:date],class: "date",id:"datepicker1",value: "" %>
							<input class="date" id="datepicker1" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required=>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Adults</p>
						</div>
						<div class="bnr-right">
							<input type='number'></input>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-one">
						<div class="bnr-left">
							<p>Number of Room</p>
						</div>
						<div class="bnr-right">
							<select>
								<option value="volvo">Select a type</option>
								<option value="saab">Single</option>
								<option value="opel">Double</option>
								<option value="audi">Suite</option>
							</select>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="bnr-btn">
						<form>
							<input type="submit" value="Book Now">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
        $(function() {
        $( "#datepicker,#datepicker1" ).datepicker();
        });
      </script>