
 <div class="panel panel-default form-group" id="subform" style="margin-top:10px;" >
	<div class="icon-delete" style="float:right;">
		<a href="#">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</div>
	<br>

	<div class="form-group">
		<label class="col-lg-2 control-label">Họ tên</label>
		<div class="col-lg-8">
		<%= f.text_field :nameguest,class: "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 control-label">Số chứng minh</label>
		<div class="col-lg-8">
        <input class="form-control" type="text" name="diaChi" class="input-medium" >
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2 control-label">Địa chỉ</label>
		<div class="col-lg-8">
        <input class="form-control" type="text" name="diaChi" class="input-medium" >
		</div>
	</div>
	<br><br>
</div>