
	<div class="header" id="home">
		<div class="container">
			<div class="head">
			<div class="logo">
				<a href="index.html"><img src="" alt="" /></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="index.html"  class="active hvr-bounce-to-bottom">Home</a></li>
						<li><a href="about.html" class="hvr-bounce-to-bottom">About</a></li>
						<li><a href="services.html" class="hvr-bounce-to-bottom">Services</a></li>
                        <% if logged_in? %>
						<li><%= link_to "Sign out",logout_path,method: "delete",class:"hvr-bounce-to-bottom" %></li>
						<% else %>
						<li><%= link_to "Sign in",login_path,class:"hvr-bounce-to-bottom" %>
						<% end %>

						<li><a href="services.html" class="hvr-bounce-to-bottom">Book room</a></li>
						
						<li><a href="contact.html" class="hvr-bounce-to-bottom">Contact</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
	</div>	

	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>